.input {
  display: flex;
  flex-direction: column;
  gap: 4px;
  width: 285px;

  &__body {
    position: relative;
    display: inline-block;
    width: 100%;
  }
  
  &__textArea {
    padding-right: 60px;
    padding-left: 8px; 
    height: 32px;
  }
  
  &__iconEye {
    width: 20px;
    height: 20px;
  }

  &__label {
    font-size: 16px;
    font-weight: bold;
  }

  &__iconsContainer {
    position: absolute;
    right: 48px;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    gap: 8px;
    align-items: center;
  }
}